[user]
	name = Hutson Betts
	email = hutson@hyper-expanse.net
	signingkey = A0B0007D

[core]
	editor = vim

[push]
	# 'Simple' instructs Git to push only the current branch to its upstream branch and make sure the upstream branch's name is the same as the local branch. To prevents pushing the incorrect branch to upstream or pushing a branch to the incorrect, name not matching, branch.
	default = simple

[color]
	# By enablng git's UI color option git will color its output if the output goes to a terminal. Output will not be colored for other output modes such as piping to files or other commands. ui=true enables color output for color.branch, color.diff, color.interactive, and color.status.
	ui = true

[commit]
	# Instruct Git to always cyptographically sign commits.
	gpgsign = true

[diff]
	# Instruct Git to use the vimdiff tool when using git's difftool command.
	tool = vimdiff

	# Instruct Git to use mnemonic prefixes (Such as *i*ndex, *w*ork tree, *c*ommit, or *o*bject) instead of the standard *a* and *b* notation.
	mnemonicprefix = true

[alias]
	# Minimized log that displays commit messages and a graphical representation of merges and branches.
	l = log --abbrev-commit --decorate --graph --oneline
	lf = log --abbrev-commit --decorate --graph --oneline --pretty=tformat:'%C(cyan)%h%Creset %C(bold yellow)%d%Creset %s %C(cyan)(%cr) %C(magenta)<%an> %C(cyan)<%G?>%Creset'

	# Standard log with file lines additions/removals.
	ll = log --abbrev-commit --decorate --graph --show-signature --stat
