[user]
	name = Hutson Betts
	email = hutson@hyper-expanse.net
	signingkey = FDD86D62

[core]
	# Instruct Git to use the following editor when launching a tool to write, or modify, commit messages, or walk the user through a wizard-like workflow.
	editor = vim

	# Global ignore list of files I would never want to push into a repository that I would be working with.
	excludesfile = ~/.gitignore

	# Apply a global set of attributes to a repository if that repository does not contain its own attributes file.
	# Disable option to prevent mangling a Git repository in a way unintended by the author of that repository.
	# attributesfile = ~/.gitattributes

[pull]
	# Automatically rebase local-only commits on top of commits fetched from the remotely tracked repository. This retains the existing structure of the remote's history, and causes local commits to be appended to the history in a linear fashion. This option avoids the default behavior of `git pull`, which fetches commits from the remote repository and "merges" them into the local branch.
	rebase = true

[push]
	# 'Simple' instructs Git to push only the current branch to its upstream branch (the upstream branch for which the local branch is "tracking"), and to make sure the upstream branch name is the same as the local branch. This helps us avoid pushing the incorrect branch to upstream or pushing a branch to the incorrect, name not matching, branch.
	default = simple

[color]
	# By enabling git's UI color option git will color its output if the output goes to a terminal. Output will not be colored for other output modes such as piping to files or other commands. ui=true enables color output for color.branch, color.diff, color.interactive, and color.status.
	ui = true

[commit]
	# Instruct Git to always cyptographically sign commits when the `signingkey` option is set in `.gitconfig`.
	gpgsign = true

[diff]
	# Instruct Git to use the vimdiff tool when using git's `difftool` command.
	tool = vimdiff

	# Instruct Git to use mnemonic prefixes (Such as *i*ndex, *w*ork tree, *c*ommit, or *o*bject) instead of the standard *a* and *b* notation when outputting a diff to the console.
	mnemonicprefix = true

[fetch]
	# Automatically prune, a.k.a. delete, local branches, on every fetch request, if those branches were deleted from the remote repository.
	prune = true

[merge]
	# Instruct Git to use the vimdiff tool when using git's `mergetool` command.
	tool = vimdiff

	# Specify the style for Git to use when writing out conflicted hunks to a working tree file upon a merge. A diff3 style will show the changes made on one side of a merge, along with the change made on the other side, along with the original text both sides have modified.
	conflictstyle = diff3

	# Tell Git to run a virtual check-out and check-in of all three stages of a file when resolving a three-way merge to normalize the files to avoid differences caused by changes in a repository's attributes.
	renormalize = true

[alias]
	# Minimized log that displays commit messages and a graphical representation of merges and branches. (The 'l' alias relies upon default colors and ordering)
	l = log --abbrev-commit --decorate --graph --oneline
	lf = log --graph --pretty=tformat:'%C(cyan)%h%Creset %C(bold yellow)%d%Creset %s %C(cyan)(%cr) %C(magenta)<%an> %C(cyan)<%G?>%Creset'

	# Standard log output with additional statistics indicating the number of lines added or removed.
	ll = log --abbrev-commit --decorate --graph --show-signature --stat --pretty=fuller

	# Show commits that are on the local branch and on the remote branch that don't exist on the other. By including the cherry-pick option commits that were pushed or pulled between branches (Even when out of order) will be excluded.
	missing = log --graph  --left-right --cherry-pick --pretty=tformat:'%C(cyan)%h%Creset %C(bold yellow)%d%Creset %s %C(cyan)(%cr) %C(magenta)<%an> %C(cyan)<%G?>%Creset'

	# Show the most recent tag (annotated or lightweight) that is reachable before the commit in the working copy. By adding the --abbrev option we instruct Git to only show the name of the tag, excluding other metadata associated with it.
	lasttag = describe --tags --abbrev=0

	# Show the most recent tag (annotated or lightweight) that is reachable after the commit in the working copy. By adding the --abbrev option we instruct Git to only show the name of the tag, excluding other metadata associated with it.
	nexttag = describe --tags --contains --abbrev=0

	# List all aliases stored in the user's Git configuration file. In addition to the aliases, display their values.
	aliases = "!git config -l | grep alias | cut -c 7-"

	# Update the current working branch to include the latest changes from the master branch. Commits in the working branch are rebased, placed on top of, changes pulled from the master branch.
	update = "!git fetch origin && git rebase origin/master"

	# Show a diff in which individual word changes are inter-mingled with one another. Word additions are shown in green, word deletions are shown in red. This is in contrast to showing changes as line additions or deletions.
	cdiff = diff --color-words

	# Merge the current working branch onto the latest commit from origin/master. Before the merge takes place the working branch is rebased on top of the latest commit from origin/master.
	done = "!git fetch origin && git rebase origin/master && git checkout master && git merge @{-1}"

	# List the name of each contributor to the working branch, and along the left of each contributor, the number of commits that person contributed. We also specifically ignore merge commits since they typically don't contain contribution of code to the project.
	contributors = shortlog --numbered --summary --no-merges

	# Cleanup a Git repository by removing dangling objects, deleted branches, and by compressing file revisions. Specific cleanup operations are describe below:
	# * remote prune - Delete stale tracking branches that have already been removed from `origin` but are still available locally in `remotes/origin`.
	# * stash clear - Clear the stash, deleting any stashed changes for this repository.
	# * clean -X - Remove all files ignored by Git through the use of Git's `.gitignore` file. Useful for cleaning out build artifacts.
	# * gc - Compress file revisions (which will reduce disk space consumption and improve performance), and remove unreachable objects. The `--aggressive` option is used to instruct Git to be more aggressive in cleaning, at the expense of more time.
	cleanup = "!git remote prune origin && git stash clear && git clean -Xdf && git gc --aggressive"

	# Delete a branch, both locally, and remotely. Delete the branch even if the local branch has staged, or untracked, changes pending commit.
	delete-branch = "!sh -c 'git push origin :refs/heads/$1 && git branch -D $1' -"

	# Setup the local working directory by checking out the master branch, and then reseting the master branch to match the specified remote's master branch. If the name of a remote is not provided to the alias the command will default to the `upstream` remote. If you rely on the default behavior, but the local working directory does not have an `upstream` remote, then this command will fail.
	setup = "!sh -c 'git checkout master && git fetch ${1:-upstream} && git reset --hard ${1:-upstream}/master && git clean -Xdf' -"
