# Disable console beeps that occur as alerts to gain operator attention.
set bell-style none

# Set key-bindings to match that of Vim.
set editing-mode vi
set keymap vi
set -o vi

# If set to On, a character denoting a file's type, as reported by the stat system call, is appended to the file name when listing possible completions.
set visible-stats on

# If set to On, words with more than one possible completion are listed instead of ringing the bell (requires pressing Tab once, rather than twice).
set show-all-if-ambiguous on

# If set to On, readline does not insert characters from the completion that match characters after point in the word being completed, so portions of the word following the cursor are not duplicated. Mak[e]file !=> Makefilefile
set skip-completed-text on
